
/* right side wrapper starts */

.bi-right--sidebar--wrapper {
    min-width: 24%;
    width: 24%;
    height: 100%;
    background-color: var(--page-background);
    position: relative;
    -webkit-transition: var(--base-transition);
    -o-transition: var(--base-transition);
    transition: var(--base-transition);
    min-height: 100%;
    max-height: 100%;
  }
  
  .bi-right--sidebar--wrapper.peoples-page {
    width: 36%;
    min-width: 36%;
    min-height: 100%;
    max-height: 100%;
  }
  
  .bi-right--sidebar--wrapper.group-view-page {
    width: 26%;
    min-width: 26%;
    min-height: 100%;
    max-height: 100%;
  }
  
  .bi-page-right-wrapper {
    min-width: 100%;
    width: 100%;
    height: 100%;
    background-color: var(--page-background);
    -webkit-transition: var(--base-transition);
    -o-transition: var(--base-transition);
    transition: var(--base-transition);
  }
  
  .bi-page-right-wrapper.home-page {
    position: relative;
    min-width: 100%;
    height: 100%;
    background-color: var(--page-background);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    row-gap: 24px;
    overflow-y: auto;
    -webkit-transition: var(--base-transition);
    -o-transition: var(--base-transition);
    transition: var(--base-transition);
  }
  
  .bi-page-right-wrapper.home-page::-webkit-scrollbar {
    background-color: transparent;
    width: 0;
  }
  
  /* right side wrapper ends */